/* index.css */
@import-normalize; /* bring in normalize.css styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "assets/styles/main.css"; /* Apply global styles */

body {
  margin: auto;
  font-family: "Roboto", sans-serif; /* Use Roboto globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
