.back-to-home {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-page-text {
  display: none;
  color: #52555fb2;
}

.return-arrow {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .main-page-text {
    display: flex;
  }
  .main-page-container {
    display: flex;
    padding-bottom: 0px;
  }
  .main-page-text {
    font-size: 12px;
  }
}
