.budget-summary-container {
  display: flex;
  justify-content: space-evenly; /* Distribute expenses and income evenly */
  align-items: center; /* Align vertically */
  text-align: center; /* Center the text horizontally */
  height: 100%; /* Optional: adjust based on your layout */
  width: auto;
  margin: 0px 20px 32px 20px;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 0px #aab2c566;
}

.expenses,
.income {
  display: flex;
  flex-direction: column; /* Stack text and sum vertically */
  justify-content: center; /* Center vertically within each container */
  align-items: center; /* Center horizontally */
  gap: 5px;
}

.expenses-text,
.income-text {
  font-size: 14px;
  font-weight: 700;
  color: #52555f;
}

.expenses-sum {
  color: #e53935;
}

.income-sum {
  color: #407946;
}

.income-sum,
.expenses-sum {
  font-size: 14px;
  font-weight: 700;
}

.divider {
  width: 1px;
  background-color: #e0e5eb;
  height: 70px; /* Try using a fixed height */
  align-self: center;
}
/* Tablet (768px and up) */
@media screen and (min-width: 768px) {
  .budget-summary-container {
    justify-content: center; /* Center the entire section */
  }
  .divider {
    height: 36px;
  }
  .expenses,
  .income {
    display: inline-flex;
    flex-direction: row;
    margin: 0 20px;
    gap: 15px;
  }
  budget-summary-container {
    border-radius: 30px;
  }
}
